/** page wide defs for lcrefs, the *[lcref] is a selector for
 *  all elements, that have a lcref attribute set to any value */
.lcref-content {
//  padding: 10px 10px 0 10px;
padding:10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}
.lcref-content h1 {
  margin: 0px 0px 10px 0px;
}
.lcref-content h2 {
  margin: 0px 0px 5px 0px;
}

/* next defninition is needed to over-ride the default, which is the
   default font size, which is 16pt */
.lcref p {
  margin-bottom: 0;
  margin-top: 10px;
}


*[lcref] {
  display: inline;
  border-bottom: 1px dotted SteelBlue;
  color: SteelBlue;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin: 3px 0 0 0;
}
*[lcref]:hover,
*[lcref].active {
  border-bottom: 1px solid #877;
  background: hsl(355, 20%, 97.5%);
  color: #877;
/* no point in these being different when hovering
  padding: 0;
  margin: 0 0 0 0;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
*/
}


div > *[lcref], p > *[lcref] {
  position: relative;
}

.lcref-error {
   color: red;
   border-bottom: 0;
}
.lcref-output {
//  background: #eef;
  background: hsl(355, 20%, 97.5%);
/*
border-top: 10px solid #ddf;
  border-left: 10px solid #ddf;
  border-right: 10px solid #ddf;
  border-bottom: 10px solid #ddf;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
*/
  border: 4px solid #cbb;
  border-radius:12px;
  display: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.lcref-output .lcref-output {
    border-width: 6px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1.25em;
}

.lcref-output .lcref-output,
.lcref-output .lcref-output.loading {
 margin-left: 0;
 margin-right: 0;
}
.lcref-output.loading {
 color: grey;
 font-style: italic;
 font-size: small;
}
.lcref-output h1, .lcref-output h2 {
  margin: 5px 0;
}
.lcref-output h1 {
  color: #006;
}
.lcref-output h2 {
  color: #006;
}
.lcref-output a { display: inline; }

.lcref-footer {
  position: relative;
  display:none;
/* bottom: -9px; */
  font-size: x-small;
  background: #ddd;
  color: grey;
  padding: 0 0 0 12px;
  margin:  -10px 0 0 0;
  border:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.lcref-output .lcref-output .lcref-footer {
  bottom: -5px;
  margin:  -5px 0 0 0;
}

.lcref-output + .lcref-output {
    margin-top: 0;
}

.lcref-footer a {
  color: #006;
}
.lcref-footer a:hover {
  background: none;
  color: #88f;
}
.lcref-footer:after {
    content: "\2002";
}

.lcref-output.processing {
  display:block!important;
  height:0pt;
  overflow:hidden;
}

/*
.MathJax a .MathJax_lcref {
  color: #f33;
}
*/

.MathJax a .MathJax_lcref:hover {
  background-color: #afa;
}
