/* @media print { */

#left_half, #menu_container, iframe {
    display:none;
}

body, #container, #right_half {
    height:100% !important;
    width:100% !important;
}

#output {
    height:auto !important;
    width:90% !important;
    margin:auto !important;
}

#right_half {
	position:unset !important;
    left:unset !important;
	width:auto !important;
	height:auto !important;
	overflow:unset !important;
	background-color:#fff !important;
	font-family:sans-serif !important;
}

#right_half > .navbar, .separator {
    display:none !important;
}

button {
display:none;
}

.slide_container {
    text-align:justify !important;
    text-justify: inter-word !important;
}
/* } */
