#left_half, #menu_container {
    display:none;
}

html, body, #container, #right_half, #output {
    height:100% !important;
    width:100% !important;
}

#right_half {
	position:relative !important;
    left:unset !important;
	width:100% !important;
	height:auto !important;
	overflow:visible !important;
	background-color:#fff !important;
	font-family:sans-serif !important;
}

#right_half > .navbar, .separator {
    display:none !important;
}

button {
display:none;
}
